@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rdt_Table {
  border: none;
}
.rdt_TableHeadRow {
  background-color: coral;
}
